# Python Requirements
moviepy
pysrt
opencv-python
datetime

# You must also install ffmpeg
# ----------------------------
# Macos: brew install ffmpeg
# Windows (Using Chocolatey): choco install ffmpeg
# Arch Linux: sudo pacman -S ffmpeg

# For more information on as in why you must install this : https://github.com/openai/whisper
